<h3>{{grocery.name}}</h3>

{{#if grocery.quantity}}
  <p class="grocery-item--quantity">Quantity: {{grocery.quantity}}</p>
{{/if}}

{{#if grocery.notes}}
  <p class="grocery-item--notes">{{grocery.notes}}</p>
{{/if}}

<ul class="grocery-item--flags">
  <li class="grocery-item--flag">{{if grocery.purchased "Purchased" "Unpurchased"}}</li>
  {{#if grocery.starred}}
    <li class="grocery-item--flag">Starred</li>
  {{/if}}
</ul>

<div class="grocery-item--buttons">
  <button {{action 'purchase'}}>
    {{if grocery.purchased "Unpurchase" "Purchase"}}
  </button>
  <button {{action 'star'}}>
    {{if grocery.starred "Unstar" "Star"}}
  </button>
  <button class="remove-button" {{action 'remove'}}>Remove</button>
</div>
