<h3>{{grocery.name}}</h3>

{{#if grocery.quantity}}
  <p>Quantity: {{grocery.quantity}}</p>
{{/if}}

{{#if grocery.notes}}
  <p>{{grocery.notes}}</p>
{{/if}}

<ul>
  <li>Purchased: {{grocery.purchased}}</li>
  <li>Starred: {{grocery.starred}}</li>
</ul>

<button {{action 'purchase'}}>Purchase</button>
<button {{action 'star'}}>Star</button>
<button {{action 'remove'}}>Remove</button>
